<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <form action="/checkout" method="post">
      <p>
        <input type="text" name="item" id="item">
      </p>
    </form>
  </body>
</html>
